@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #232323;
   
}

h1 {
    background-color: steelblue;
    text-transform: uppercase;
    color:white; 
    margin: 0;
    text-align: center;
    font-weight: normal;
    padding: 20px;
}

#displayColor {
    font-size: 200%;
}

#barra{

    background: white;
    height: 30px;
    text-align: center;
    color: black
    

}


button{
    border: none; 
    background-color: white;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: medium;
    outline: none;
    transition: all 0.5s
   
    
    


}

button:hover{
   
    background-color:steelblue; 
    color: white; 

}
#message{
    width: 20%;
    display: inline-block;
  
}

.selected{
  
    background-color:steelblue; 
    color: white; 
}

  #container {
    max-width: 600px;
    margin: 20px auto;
    
  }
  .square {
  
    

    width: 30%;
    background: white;
    padding-top: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
}




